@model IEnumerable<CRUD.Models.Person>

@{
    ViewBag.Title = "People";
}

<h1>
  <span class="blue"></span><i>Peo</i><span class="blue"><i>ple</i></span>
</h1>

<br><br>

<div class="button_plus"></div><br>
<form style="display:none;" class="asd" align="center">
  <input type="text" name="Name" placeholder="First name"/><br>
  <input type="text" name="PostalCode" placeholder="Last name"/><br>
  <input type="text" name="Name" placeholder="Address"/><br><br>
  <input class="save2" type="submit" name="Dodaj" value="Save"/>
</form>

<br><br>


<table class="container">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            <button class='edit'>Edit</button>
            <button class='save3'>Details</button>
            <button class='remove'>Delete</button>
        </td>
    </tr>

    <tr style="display: none;" class="tr2">
        <td class="td2"> <b color="white">Details</b>
        </td>
        <td class="td2">Full name:
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td class="td2">Postal code:
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
        </td>

    </tr>

}
</tbody>
</table>
